.barcode-scanner-active {
  visibility: hidden;
  background: transparent !important;
  --ion-background-color: transparent !important;
  --background: transparent !important;
}

.barcode-scanner-active ion-app,
.barcode-scanner-active ion-router-outlet,
.barcode-scanner-active ion-page,
.barcode-scanner-active ion-content,
.barcode-scanner-active ion-header,
.barcode-scanner-active ion-toolbar,
.barcode-scanner-active ion-button,
.barcode-scanner-active ion-label,
.barcode-scanner-active ion-toast {
  visibility: hidden !important;
  opacity: 0 !important;
}
